@charset "utf-8";
/*
CSS 1/2/3 Document

Programming on the internet the way it was meant to be done.

By Xunnamius of Dark Gray.

Do not remove this header.
*/

html { height: 100%; }
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	line-height: normal;
	color: black;
	background-color: #DDD;
}

#wrapper {
	width: 1000px;
	margin: 0px auto 0px auto;
}

#picGallery {
	width: 450px;
	float: left;
}

#optionsGallery {
	width: 450px;
	float: right;
	margin-top: 15px;
}

#optionsGallery ol { list-style-type: none; }

#header {
	text-align: center;
	margin: 25px 0px 50px 0px;
	font-family: Cambria, Georgia, Times, serif;
}

#header h1 { font-size: 4.0em; }

/* results popunder initial state */
#popUnderResults.init { display: none; }

/* Begin styling picGallery */
/* Images */
.photo img {
	border: 1px solid #666;
	background-color: #FFF;
	padding: 4px;
	position: relative; 
  	top: -2px;
  	left:-4px;
}

/* Captions */
.planet p { font-size: 1.1em; }

/*  */
.planet {
	float: left;
	width: 100px;
	margin: 0 10px 0px 10px;
}

/*  */
.photo { background: url("drop_shadow.png") left bottom no-repeat; }
#center {
	width: 375px;
	margin: 0px auto 0px auto;
}

/*  */
#picGallery h3 {
	font-weight: bold;
	font-family: Cambria, Georgia, Times, serif;
	font-size: 2.5em;
}

#picGallery p { margin-bottom: 15px; }
#intro { margin-left: 7px; }
/* End picGallery Style */

li { margin-bottom: 10px; }
#optionsGallery label {
	display: inline-block;
	width: 175px;
	text-align: right;
	margin-right: 10px;
}

#optionsGallery label.break {
	width: 100px;
	margin-right: 10px;
}

#optionsGallery img {
	position: relative;
	top: 3px;
}

ol ol { padding: 0px; }
input#opt_InhabSentient + label {
	display: inline;
	margin-left: 10px;
}

#optionsGallery label#widthPlus { width: 200px; }
#optionsGallery h3 {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 125px;
	text-align: center;
	font-weight: bold;
	font-family: Cambria, Georgia, Times, serif;
}

#optionsGallery h3.leftMove { margin-left: -20px; }